.profile {
    /*!*display: flex;*!*/
    /*!*justify-content: space-between;*!*/
    /*display: grid;*/
    /*grid-template-columns: 168px 299px  30px auto;*/
    /*grid-template-rows: 100px;*/
    /*!*padding: 0 200px ;*!*/
    /*justify-content: center;*/
    /*margin: 0 auto;*/
    /* justify-content: space-between; */



    /* display: grid;*/
    /*grid-template-columns: fit-content(120px) min-content;*/
    /*grid-template-rows: 60px 60px;*/
    /*!* padding: 0 200px; *!*/
    margin: 0 auto;
    max-width: 880px;
    /*justify-content: space-between;*/
    padding-top: 40px;


    display: grid;
    grid-template-columns: 150px 311px auto auto;
    grid-template-rows: 40px 40px 40px;
    grid-template-areas:
        'avatar name editor btn'
        'avatar name editor btn'
        'avatar status editor btn';
    align-items: center;
}
@media screen and (max-width: 595px) {
    .profile {
        grid-template-columns: repeat( 4, 1fr);
        grid-template-rows: 114px;
        grid-template-areas:
        '. avatar avatar .'
        'name name name editor '
        'status status status status'
        ' btn btn btn btn';
        align-items: center;
        padding-top: 42px;
    }

}