.elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, max-content));
    gap: 17px;
    margin: 51px auto 0 auto;
    max-width: 880px;
    justify-content: center;
    padding: 0;
}

@media screen and (max-width: 320px){
    .elements {
        align-items: center;
        margin-top: 36px;
    }

}