.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    grid-area: avatar;
    /*margin: 36px 0 1px 0;*/

}

@media screen  and (max-width: 660px) {
    .profile__avatar {
        justify-self: center;
    }
}